.calculator-container{
    padding: 1px;
    background-color: hsl(222, 26%, 31%);
}

#logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

#author{
    font-size: 10px;
    font-weight: 400;
    color: #fff;
}